<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permintaan Cuti</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="border-b border-gray-300">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
          <!-- Left Section: Logo -->
          <div class="flex items-center">
            <img src="/frontend/src/img/Logo PPSDM.png" alt="Logo BMKG" class="h-8 mr-4">
            <h1 class="text-lg font-bold text-gray-900">PPSDM MKG</h1>
          </div>
    
          <!-- Center Section: Navigation Links -->
          <div class="hidden md:flex space-x-8">
            <a href="#" class="text-gray-900 hover:text-green-400 font-medium">Dashboard</a>
            <a href="#" class="text-green-400 font-medium">Permintaan</a>
          </div>
    
          <!-- Right Section: Profile -->
          <div class="flex items-center space-x-4">
            <div class="flex flex-col text-right ">
              <span class="text-gray-500 text-sm">Hi, Muhammad Arif</span>
              <span class="text-green-300 text-sm font-medium">Pimpinan</span>
            </div>
            <img src="/frontend/src/img/profile.png" alt="Profile Picture" class="w-10 h-10 rounded-full border border-gray-300">
          </div>
        </div>
     </div>
</div>
</body>
</html>