<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Cuti Pegawai</title>
    <link href="../src/output.css" rel="stylesheet">
</head>
<body class="font-poppins">
  <header class="bg-white shadow">
      <div class="border-b border-gray-100">
          <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
              <div class="flex justify-between items-center h-16">
                  <div class="flex items-center">
                      <img src="/frontend/src/img/Logo PPSDM.png" alt="Logo BMKG" class="h-8 mr-4">
                      <h1 class="text-3xl font-bold text-gray-900">PPSDM MKG</h1>
                  </div>
                  <div class="hidden md:flex space-x-8">
                    <a href="ktu_dashboard.html" class="text-gray-900 font-medium text-base hover:text-teal-500">Dashboard</a>
                    <a href="ktu_data pegawai.html" class="text-gray-900 font-medium text-base hover:text-teal-500">Data Pegawai</a>
                    <a href="ktu_pembatalan.html" class="text-gray-900 font-medium text-base hover:text-teal-500">Pembatalan</a>
                    <a href="ktu_rekapan.html" class="text-teal-500 font-medium text-base focus:outline-none" href="#" aria-current="page">Rekapan</a>
                  </div>
                  <div class="flex items-center space-x-4">
                      <div class="flex flex-col text-right">
                          <span class="text-base font-bold">Hi, Raffif Arif</span>
                          <span class="text-teal-500 font-medium text-sm">KTU</span>
                      </div>
                      <img src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80" alt="Profile Picture" class="w-10 h-10 rounded-full border border-gray-300">
                  </div>
              </div>
          </div>
    </header>

      <!-- Stats Cards -->
    <div class="px-24">
      <!-- Tables -->
      <div class="flex flex-col">
          <div class="-m-1.5 overflow-x-auto">
            <div class="p-1.5 min-w-full inline-block align-middle">
              <ol class="flex items-center whitespace-nowrap mt-6">
                <li class="inline-flex items-center">
                  <a class="flex items-center text-sm text-gray-500 hover:text-teal-500 focus:outline-none focus:text-teal-500 dark:text-neutral-500 dark:hover:text-teal-500 dark:focus:text-teal-500" href="ktu_rekapan.html">
                    Rekap Cuti Pegawai
                  </a>
                  <svg class="shrink-0 mx-2 size-4 text-gray-400 dark:text-neutral-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6"></path>
                  </svg>
                </li>
                <li class="inline-flex items-center text-sm font-semibold text-gray-800 truncate dark:text-neutral-200" aria-current="page">
                  Detail Cuti Pegawai
                </li>
              </ol>
              <div class="mx-auto p-6">
                <!-- Header Section -->
                <div class="flex items-center mt-6">
                    <img src="..\src\img\woman.jpeg" alt="Profile Picture" class="w-48 h-48 rounded-full">
                    <div class="px-8">
                        <h2 class="text-2xl font-semibold text-gray-800 dark:text-white">Dr. Andini Putri, M.Si</h2>
                        <p class="text-lg text-gray-600 dark:text-neutral-400">19800115 200032032001</p>
                        <p class="text-lg text-gray-600 dark:text-neutral-400">Hak Cuti: 18 Hari</p>
                        <div class="mt-4 ">
                            <div class="rounded-xl" style="background: linear-gradient(78deg, #F1C365 0%, #F6AE54 63%, #FF922F 100%);">
                              <p class="px-4 py-2 text-white font-medium text-center text-xl">Sisa Cuti 10 Hari</p>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="mx-auto">
                  <!-- Riwayat Cuti Section -->
                  <div class="mt-8">
                      <h3 class="text-xl font-semibold text-gray-800 dark:text-white mb-4">Riwayat Cuti</h3>

                      <!-- First Cuti Entry -->
                      <div class="flex justify-between items-center mb-4 py-8 bg-white border shadow-sm rounded-2xl hover:shadow-lg focus:outline-none focus:shadow-lg transition dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70" href="#">
                        <a class="flex flex-col">
                          <div class="p-4 md:p-5">
                            <h3 class="text-lg font-bold text-gray-800 dark:text-white">
                              12-13 Desember 2024
                            </h3>
                            <p class="mt-1 text-gray-500 dark:text-neutral-400">
                              Merawat Anak Pasca Operasi
                            </p>
                          </div>
                        </a>
                  
                        <div class="flex justify-center px-8">
                          <span class="py-2 px-16 text-white rounded-xl flex flex-col items-center" style="background: linear-gradient(78deg, #F1C365 0%, #F6AE54 63%, #FF922F 100%);">
                            <span class="text-5xl font-semibold">3</span>
                            <span class="text-lg">Hari</span>
                          </span>
                        </div>
                      </div>

                      <!-- Second Cuti Entry -->
                      <div class="flex justify-between items-center mb-4 py-8 bg-white border shadow-sm rounded-2xl hover:shadow-lg focus:outline-none focus:shadow-lg transition dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70" href="#">
                        <a class="flex flex-col">
                          <div class="p-4 md:p-5">
                            <h3 class="text-lg font-bold text-gray-800 dark:text-white">
                              5-12 Desember 2024
                            </h3>
                            <p class="mt-1 text-gray-500 dark:text-neutral-400">
                              Merawat Anak Pasca Operasi
                            </p>
                          </div>
                        </a>
                  
                        <div class="flex justify-center px-8">
                          <span class="py-2 px-16 text-white rounded-xl flex flex-col items-center" style="background: linear-gradient(78deg, #F1C365 0%, #F6AE54 63%, #FF922F 100%);">
                            <span class="text-5xl font-semibold">12</span>
                            <span class="text-lg">Hari</span>
                          </span>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  <script src="https://cdn.jsdelivr.net/npm/preline/dist/preline.min.js"></script>
</body>
</html>