<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-KTU</title>
    <link href="../src/output.css" rel="stylesheet">
</head>
<body class="font-poppins">
  <header class="bg-white shadow">
      <div class="border-b border-gray-100">
          <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
              <div class="flex justify-between items-center h-16">
                  <div class="flex items-center">
                      <img src="/frontend/src/img/Logo PPSDM.png" alt="Logo BMKG" class="h-8 mr-4">
                      <h1 class="text-3xl font-bold text-gray-900">PPSDM MKG</h1>
                  </div>
                  <div class="hidden md:flex space-x-8">
                      <a href="ktu_dashboard.html" class="text-teal-500 font-medium text-base focus:outline-none" href="#" aria-current="page">Dashboard</a>
                      <a href="ktu_data pegawai.html" class="text-gray-900 font-medium text-base hover:text-teal-500">Data Pegawai</a>
                      <a href="ktu_pembatalan.html" class="text-gray-900 font-medium text-base hover:text-teal-500">Pembatalan</a>
                      <a href="ktu_rekapan.html" class="text-gray-900 font-medium text-base hover:text-teal-500">Rekapan</a>
                  </div>
                  <div class="flex items-center space-x-4">
                      <div class="flex flex-col text-right">
                          <span class="text-base font-bold">Hi, Raffif Arif</span>
                          <span class="text-teal-500 font-medium text-sm">KTU</span>
                      </div>
                      <img src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80" alt="Profile Picture" class="w-10 h-10 rounded-full border border-gray-300">
                  </div>
              </div>
          </div>
    </header>

      <!-- Stats Cards -->
    <div class="px-24">
      <div class="flex gap-6 mb-12 max-w-5xl py-8">
          <div class="flex-1 p-8 text-white flex items-center justify-between rounded-3xl" style="background: linear-gradient(78deg, #F1C365 0%, #F6AE54 63%, #FF922F 100%);">
              <div class="flex items-center gap-4">
                  <div class="w-24 h-24 bg-white rounded-full flex items-center justify-center">
                    <img src="..\src\img\icon\contact-2.png" alt="Icon" class="w-16 h-16" />
                  </div>
                  <div>
                      <h2 class="text-4xl font-bold">3 Pegawai</h2>
                      <p class="text-lg">Sedang Melakukan Cuti</p>
                  </div>
              </div>
          </div>
          <div class="flex-1 p-8 text-white flex items-center justify-between rounded-3xl" style="background: linear-gradient(90deg, #F1C365 0%, #F6AE54 63%, #FF922F 100%);">
              <div class="flex items-center gap-4">
                  <div class="w-24 h-24 bg-white rounded-full flex items-center justify-center">
                    <img src="..\src\img\icon\square-equal.png" alt="Icon" class="w-16 h-16" />
                  </div>
                  <div>
                      <h2 class="text-4xl font-bold">20 Pegawai</h2>
                      <p class="text-lg">Melakukan Cuti Bulan Ini</p>
                  </div>
              </div>
          </div>
      </div>


      <!-- Tables -->
      <div class="flex flex-col">
          <div class="-m-1.5 overflow-x-auto">
            <div class="p-1.5 min-w-full inline-block align-middle">
              <h2 class="text-xl font-semibold mb-4 py-4">Pegawai yang sedang Cuti</h2>

              <div class="border rounded-lg overflow-hidden dark:border-neutral-700">
                <table class="text-left border-collapse" style="table-layout: fixed;">
                  <thead>
                    <tr>
                      <th scope="col" class="px-4 py-3 text-start text-base font-light text-gray-400 dark:text-neutral-500" style="width: 10%;">No</th>
                      <th scope="col" class="px-6 py-3 text-start text-base font-light text-gray-400 dark:text-neutral-500" style="width: 35%;">Nama</th>
                      <th scope="col" class="px-6 py-3 text-start text-base font-light text-gray-400 dark:text-neutral-500" style="width: 30%;">Selesai Cuti</th>
                      <th scope="col" class="px-6 py-3 text-middle text-base font-light text-gray-400 dark:text-neutral-500" style="width: 25%;">Surat Persetujuan</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-200">
                    <tr class="hover:bg-gray-50">
                        <td class="px-6 py-4">1</td>
                        <td class="px-6 py-4">Mashella Tobing</td>
                        <td class="px-6 py-4">20 Januari 2025</td>
                        <td class="px-6 py-4 text-center">
                          <button type="button" class="p-2 bg-teal-500 rounded-lg text-white hover:bg-teal-700 focus:outline-none focus:bg-teal-700 disabled:opacity-50 disabled:pointer-events-none" aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-medium-modal" data-hs-overlay="#hs-medium-modal">
                            <img src="..\src\img\icon\file-terminal.png" alt="Icon"/>
                          </button>
                        </td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="px-6 py-4">2</td>
                        <td class="px-6 py-4">Taylor Swift</td>
                        <td class="px-6 py-4">14 Januari 2025</td>
                        <td class="px-6 py-4 text-center">
                          <button type="button" class="p-2 bg-teal-500 rounded-lg text-white hover:bg-teal-700 focus:outline-none focus:bg-teal-700 disabled:opacity-50 disabled:pointer-events-none" aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-medium-modal" data-hs-overlay="#hs-medium-modal">
                            <img src="..\src\img\icon\file-terminal.png" alt="Icon"/>
                          </button>
                          <div id="hs-medium-modal" class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none" role="dialog" tabindex="-1" aria-labelledby="hs-medium-modal-label">
                            <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all md:max-w-2xl md:w-full m-3 md:mx-auto">
                              <div class="flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto dark:bg-neutral-800 dark:border-neutral-700 dark:shadow-neutral-700/70">
                                <div class="flex justify-between items-center py-3 px-4 border-b dark:border-neutral-700">
                                  <h3 id="hs-medium-modal-label" class="font-bold text-gray-800 dark:text-white">
                                    Surat Persetujuan Cuti
                                  </h3>
                                  <button type="button" class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-400 dark:focus:bg-neutral-600" aria-label="Close" data-hs-overlay="#hs-medium-modal">
                                    <span class="sr-only">Close</span>
                                    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                      <path d="M18 6 6 18"></path>
                                      <path d="m6 6 12 12"></path>
                                    </svg>
                                  </button>
                                </div>
                                <div class="p-4 overflow-y-auto">
                                  <iframe src="..\src\file\Cuti.pdf" width="100%" height="500px" class="border-0"></iframe>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="px-6 py-4">3</td>
                        <td class="px-6 py-4">Ben Antonio</td>
                        <td class="px-6 py-4">14 Januari 2025</td>
                        <td class="px-6 py-4 text-center">
                          <button type="button" class="p-2 bg-teal-500 rounded-lg text-white hover:bg-teal-700 focus:outline-none focus:bg-teal-700 disabled:opacity-50 disabled:pointer-events-none" aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-medium-modal" data-hs-overlay="#hs-medium-modal">
                            <img src="..\src\img\icon\file-terminal.png" alt="Icon"/>
                          </button>
                        </td>
                      </tr>
                  </tbody>
                </table>
                
                
              </div>
            </div>
          </div>
        </div>
      </div>

  <script src="https://cdn.jsdelivr.net/npm/preline/dist/preline.min.js"></script>
</body>
</html>